/build*
tags
cscope*
.clang_complete
*wintoastlib*
/.ccls-cache
/.cache
/.exrc
.gdb_history
.hunter
resources/complete-emoji.txt 

# GTAGS
GTAGS
GRTAGS
GPATH

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

vgcore.*
heaptrack.*
massif.*

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
CMakeLists.txt.user
moc_*.cpp
qrc_*.cpp
ui_*.h
*-build-*
/.clangd/

# QtCreator

*.autosave

# VSCode
.vscode/*

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# Vim
*.swp
*.swo
*.swn

# CLion
/.idea

#####=== CMake ===#####

CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

#####=== OSX ===#####
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Visual Studio
.vs
build-vc
vcpkg

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Nix
result

*.dmg
dist/MacOS/nheko.app/Contents/MacOS/nheko
.clang
compile_commands.json

# AppImage
*.AppImage
*.AppDir

# Artifacts
*.rpm
*.deb
package.dir

# Dependencies
.third-party
.deps

# Archives
*.bz2
