[Desktop Entry]
Name=nheko
Version=1.0
Comment=Desktop client for Matrix
Exec=nheko %u
Icon=nheko
Type=Application
Categories=Network;InstantMessaging;Qt;
StartupWMClass=nheko
Terminal=false
MimeType=x-scheme-handler/matrix;
X-GNOME-UsesNotifications=true
