[Desktop Entry]
Name=nheko
Version=0.7.2
Comment=Desktop client for Matrix
Exec=nheko
Icon=nheko
Type=Application
Categories=Network;InstantMessaging;Qt;
StartupWMClass=nheko
Terminal=false
